.company-banner {
    background: #FF9999;
    height: 260px;
    width: 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}
.company-banner:hover{
    background-color: #FFC4C4;
}

#company_header {
    margin-top: -100px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 15px;
    height: 110px;
}

.header{
	font-size: 18px;
}

#job_header .heading-title {
    color: #FF9999;
    font-size: 24px;
}

#job_header .heading{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
#job_header h1 {
    color: #FF9999;
    font-size: 24px;
}
#postula{float: right;margin-right: 10px;}
.job_section h2 {
    color: #FF9999;
    font-size: 18px;
}
.job_section .row {
    padding: 7px 0;
}
.job_section {
    margin-top: 20px;
	background-color: white;
}
.msg_bg a{
    color: #fff;
}
.msg_bg {
    padding: 25px 15px;
    background-color: #f3f4f5;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #e0e2e2;
    margin-bottom: 25px;
}
.added_item {
    font-size: 13px;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 3px 10px;
    display: inline;
    float: left;
    margin: 0 5px 5px 0;
}

.img_wrapper{
    margin-top: 15px;
}
@media(max-width: 767px){
    .img_wrapper{
        display: none;
    }
    .stats {
        display: none;
    }
    #postula{
        display: block;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}
#company_header a, #company_header .subtitle , #company_header .name{
    color: #FF9999;
}
#company_header .name{
    font-size: 32px;
}
#company_header .subtitle {
    font-size: 13px;
}